// Place all the styles related to the public/Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
    background-image: image-url("red-mountain.jpg");
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 350px;
    text-align: center;
    color: #fff;
}

.comic-index {
    display: flex;
    flex-wrap: wrap;
}

html, body {
    position: relative;
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}


// スライドショー
.slick-next {
    right: 20px !important;
    z-index: 100;
 }

.slick-prev {
    left: 20px !important;
    z-index: 100;
 }

.next {
    font-size: 30px;
    color: #FF9872;
}

.prev {
    font-size: 30px;
    color: #FF9872;
}

 .review-slider-box {
    //  background: #eee;
 }

 .comic-slider-box {
     margin-top: 30px;
     border-top: 1px solid #bbb;
 }

.comic-slider-box, .review-slider-box {
    text-align: center;
}

#slider, #review-slider {
    text-align: center;
    font-size: 18px;
    // width: 600px;

    /* テキストを中央揃え */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    // align-items: center;
}

.comic-slider {
    width: 1000px;
    height: 300px;
    padding: 20px 30px 20px 0;
    margin: 20px 0 20px 60px;
}

.comic-slider-item {
    margin: 5px;
}

.rate-stars {
    display: flex;
    justify-content: center;
}

.rate-text {
  font-size: 24px;
}

#review-slider {
    width: 600px;
    height: 280px;
}

.review-slider {
    text-align: center;
    margin: 20px 0 30px 210px;
}

.user-info {
    width: 200px;
    text-align: left;
    padding: 70px 30px 0 20px;
    margin: 0;
}

.comic-info {
    width: 200px;
    position: relative;
    bottom: 150px;
    left: 450px;
    // display: block;
    // margin: 0 0 0 500px;
}

.review-info {
    width: 300px;
    position: relative;
    bottom: 300px;
    left: 110px;
}

.review-comic-title {
    width: 130px;
    position: relative;
    right: 20px;
}

.review-slider-title {
    text-align: center;
    margin: 30px 0 40px 0;
}

.comic-slider-title, .review-slider-title {
    margin: 20px 0;
}

.review-slider-item {
    background-color: #F5FFFA;
    text-align: center;
    height: 300px;
    margin-bottom: 50px;
}

.top-comic-link {
    text-align: center;
    margin: 200px 0 0 0;
}

.top-comic-path {
    color: #333;
    font-size: 36px;

}

.top-comic-path:hover {
    color: #FF8C00;
    text-decoration: underline;
}


//Aboutページ
.about-all-box {
    text-align: center;
}

.about-top-img {
    width: 100%;
}

.about-main-visual {
    text-align: center;
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.about-box-second {
    text-align: center;
    margin-left: 320px;
}

.about-text-1 {
    margin: 10px 0 50px 0;
    font-size: 20px;
}

.about-list, {
    text-align: center;
    padding: 0 0 30px 80px;
    margin: 20px 0;
}

#about-border {
    border-bottom: 1px solid #bbb;
}

.about-text-2 {
    font-size: 20px;
    margin: 20px 0 30px 300px;
}

.about-item {
    text-align: center;
    margin: 0 20px 20px 20px;
}

.search-comics {
    text-align: center;
}

.search-count {
    font-size: 20px;
}

.category-search {
    display: flex;
    flex-wrap: wrap;
}

.search-item {
    margin: 20px;
}

.rate-number {
    font-size: 18px;
}