<div class="col-md-3 new-comment">   
   <!--コメント数-->
  <p class="">
      <i class="far fa-comment-alt comment-counter"><%= review.comments.count %></i>
  </p>
  <!--コメント入力フォーム-->
  <p class="comments-create">
    <%= form_with model: comment, url: comic_review_comments_path(review_id: review.id), method: :post, local: true do |f| %>
      <p><%= f.text_area :comment, rows: '5', placeholder: "コメント欄" %></p>
      <p><%= f.submit "コメントする", class: "btn btn-outline-secondary" %></p>
    <% end %>
  </p>
</div>